BODY { background: white; color: black; font-size: 90%; font-family: arial, sans-serif; line-height: 1.3 }
a:link       { color: #3333FF }
a:visited    { color: #660066 }
H1 { font-size: x-large; font-family: arial, sans-serif; color: #808080 }
H2 { font-size: large; font-family: arial, sans-serif; color: #009933 }
H3 { font-family: arial, sans-serif; color: #009933 }
.parent { font-family: arial, sans-serif}
ul li {margin-bottom: 1px}